<div id="share-box">
    <!-- <navHead title="关系绑定"></navHead>
    <div style="margin:40px 20px;position:relative;">
        <div style="position:relative;height:100px;">
            <img v-if="myHead"  :src="HSrc(myHead)" width="100" height="100" class="share-img share-left">
            <img v-else src="~@/public/img/logo.jpg" class="share-img share-left" width="100" height="100"> 
            <icon-svg icon-class="shuangxiangjiantou" class="share-exchange"></icon-svg>
            <img v-if="itHead" :src="HSrc(itHead)" width="100" height="100" class="share-img share-right">
            <img v-else src="~@/public/img/logo.jpg" class="share-img share-left" width="100" height="100"> 
            
        </div>
        <div @click="confirmShare()">
            <yd-button size="large" type="warning" style="background:#e42324;height:40px;line-height:40px;font-size:16px;font-weight:600;" shape="circle">确认分享</yd-button>
        </div>
    </div> -->
</div>