<div class="agree">
  <navHead title="入驻平台接受协议"></navHead>
  <div class="conten">
    <div class="article">
      <h1 class="text-center" style="padding:4px 0 2px;">入驻平台接受协议</h1>
      <h1 class="text-center" style="margin-bottom:20px;padding:4px 0;"> 线上版</h1>
      <!-- <p>本协议终止或解除并不免除商家依据本协议应向客户承担的售后服务及产品保证责任，商家仍应履行售后服务义务及产品质量保证责任；如在本协议终止后，因商家产品质量问题或售后服务问题而导致甲方或其他第三方人身或财产损失的，商家仍应独立承担全部责任。</p> -->
      <h4>一、证明文件提交</h4>
      <h5>1.1</h5>
      <p>
        <span style="color: #333;">证明文件提交：</span>卖家须根据百业衍升平台相关规则及要求向“百业衍升”提交证明文件或其他相关证明，包括但不限于营业执照、税务登记证、组织机构代码证、授权委托书、商标注册证、质检报告、报关单、检验检疫证书、产品来源地证明等。</p>
      <h5>1.2</h5>
      <p>
        卖家保证向“百业衍升”提供的上述证明文件或其他相关证明真实、合法、准确、有效，并保证上述证明文件或其他相关证明发生任何变更或更新时，及时书面通知“百业衍升”，若上述文件变更或更新导致卖家不符合本协议所规定入驻条件的，“百业衍升”有权单方全部或部分限制卖家经营，直至终止本协议。</p>
      <h5>1.3</h5>
      <p>
        “百业衍升”将对卖家的证明文件进行不定时的抽查，并有权根据需要，要求卖家提供更多证明文件，卖家需按“百业衍升”的要求提供。如卖家不能提供，则“百业衍升”有权立即终止或中止本协议。</p>

      <h5>1.4</h5>
      <p>卖家对其提交的证明文件或其他相应证明的真实性、合法性、准确性、有效性承担全部法律责任，若因卖家提交虚假、过期文件或未及时更新或通知证明文件导致纠纷或被相关国家机关处罚的，由卖家独立承担全部法律责任，如因此造成“百业衍升”（包括“百业衍升”合作方、代理人或职员）损失的，卖家应予以赔偿全部损失。</p>

      <h4>二、卖家声明与保证</h4>
      <h5>2.1</h5>
      <p> 保证符合本协议约定的申请入驻条件，且其向“百业衍升”提交的注册资料真实、准确、合法、有效，并保证其诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证“百业衍升”及百业衍升平台的其他用户可以通过上述联系方式与自己进行联系。同时，卖家有义务在相关资料实际变更时及时通知“百业衍升”，并在“百业衍升”上予以更新。</p>
      <h5>2.2</h5>
      <p> 保证对其获得的与自设密码共同使用的“百业衍升平台服务账户”（亦称“百业衍升用户名”）妥善保管，不得擅自转让或授权他人使用，并对利用该用户名和密码所进行的一切活动负全部责任。</p>
      <h5>2.3</h5>
      <p> 保证遵守本协议及附件的相关约定和所有公示于百业衍升平台的相关规则及流程，不从事任何有损“百业衍升”利益的行为。</p>
      <h5>2.4</h5>
      <p> 保证其有合法的权利缔结本协议，其代理人已获得充分授权，并对代理人的行为承担法律责任，同时卖家保证对其雇员、本协议约定的联系人及其他卖家委派的履行本协议的人员的行为承担法律责任。</p>
      <h5>2.5</h5>
      <p> 保证在“百业衍升”发布的所有商品/服务信息真实、准确，符合百业衍升平台规则及国家相关法律法规的规定，商品信息与实际出售的商品一致，不夸大其词，不含虚假内容，并对商品信息承担独立的完全的法律责任。若发布的上述信息变更的，卖家应及时在“百业衍升平台”予以更新。若因信息未及时变更引起法律后果的，卖家独立承担全部责任。</p>
      <h5>2.6</h5>
      <p> 保证按照“百业衍升”审核通过的商品类目和品牌经营，未经“百业衍升”确认，不得擅自增加，变更商品类目和品牌。</p>
      <h5>2.7</h5>
      <p> 保证向购买其商品/服务的“百业衍升”用户开具合法合规发票，并保证按照国家相关规定自行承担相应税费。如因卖家发票为开具发票、开具错误或者其他发票问题引起纠纷，均由卖家独立承担相应法律责任，如造成“百业衍升”损失的，卖家应予以赔偿。</p>
      <h5>2.8</h5>
      <p> 保证按照国家相关规定、自身售后服务承诺及附件自主售后的相关要求，提供商品“修理、更换、退货”等售后服务。同时保证履行消费者权益保障及相关售后服务义务。</p>
      <h5>2.9</h5>
      <p> 保证在使用服务进行交易的过程中遵守诚实信用的原则，不在交易中采取欺诈及虚假宣传、混淆等不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。</p>
      <h5>2.10</h5>
      <p>保证不将从“百业衍升”及“百业衍升平台”获取的任何数据作商业性利用，同时保证未经“百业衍升”许可不得擅自获取、复制、使用、传播“百业衍升”及“百业衍升平台”的任何相关资料，包括但不限于交易数据、用户信息、支付信息、“百业衍升”其他用户展示于“百业衍升平台”的信息等。</p>
      <h5>2.11</h5>
      <p>卖家不得隐瞒任何可能对“百业衍升”及“百业衍升平台”产生风险的事项，包括但不限于产品出现设计缺陷、质量瑕疵、权利纠纷、重大违约、上传资料包含病毒木马等，若卖家发生此类影响“百业衍升”及“百业衍升平台”商誉、正常经营、安全的事项而卖家未及时通知“百业衍升”的，“百业衍升”有权解除本协议并追究卖家责任。</p>
      <h5>2.12</h5>
      <p>未经“百业衍升”另行书面许可，卖家不得将本协议项下权利义务全部或部分转移给第三方；卖家聘请“第三方代运营公司”代表卖家运营店铺的，“第三方代运营公司”的一切行为均视同为卖家亲自实施，由卖家承担全部法律后果；卖家与第三方代运营公司间的权利义务关系由卖家与第三方代运营公司单独解决，不得影响到“百业衍升”及“百业衍升”其他用户的权利。</p>
      <h5>2.13</h5>
      <p>保证其在使用服务时实施的所有行为均遵守国家法律、法规和百业衍升平台的相关规则、规定以及各种社会公共利益及公共道德。如有违反行为导致任何法律后果的发生，卖家独立承担所有相应的法律责任；</p>
      <h5>2.14</h5>
      <p> 卖家承诺拥有合法的权利和资格向“百业衍升平台”上传有关商品/服务销售信息并进行销售，且前述行为未对任何第三方合法权益，包括但不限于第三方知识产权、物权等构成侵害，如因其行为导致“百业衍升”遭受任何第三方提起的索赔，诉讼或行政责任，其将承担相应责任并使“百业衍升”免责。</p>
      <h5>2.15</h5>
      <p>卖家的任何签署/在线接受本协议的行为并不当然导致本协议发生法律效力，本协议是附条件生效协议，即必须经过“百业衍升”对其提交的全部资料审核通过且满足本协议约定的生效条件后方可生效。同时，卖家认可“百业衍升”有权独立地对其入驻资料、品牌经营权限开通申请进行评估、判断。审核结果以“百业衍升”评估、判断为准，其对此不持有任何异议。</p>
      <h5>2.16</h5>
      <p> 卖家保证不在其于“百业衍升平台”发布的商品/服务信息中使用任何未获授权品牌的关键字。</p>
      <h5>2.17</h5>
      <p>卖家承诺接受“百业衍升”对其出售商品是否具有合法进货来源的不定期检查，其有义务保留所售商品具有合法进货来源的相关凭证。对于无法提供合法进货来源凭证的，“百业衍升”将根据实际情况对商品的真伪作出判断并根据本协议以及百业衍升平台相关规则进行处理，卖家对此承担举证不利的后果。</p>
      <h5>2.18</h5>
      <p>卖家承诺接受“百业衍升”基于商品品质控制需求对其在售商品进行的质量抽检，检测报告由专业的第三方质检机构出具，其承诺对“百业衍升”选择的第三方质检机构作出的检测结果不持有异议。对于经检测证明存在质量瑕疵的商品，检测费用有卖家承担。</p>

      <h4>三、服务的开通及停止 </h4>
      <h5>3.1</h5>
      <p>对于卖家拟开展经营的特定店铺，“百业衍升”在卖家提出开店申请并满足以下条件后 7 日内为卖家开通服务，“百业衍升”将在服务正式开通前一个工作日以邮件方式通知卖家。</p>
      <p>1）卖家已按照本协议《甲乙双方信息确认表》或者其他补充协议（若有）中确定的金额足额缴纳保证金；
        <br/>2）卖家已按照本协议及百业衍升平台相关规则提交证明文件或其他相关证明并通过“百业衍升”审核；
        <br/>3）卖家已注册成为百业衍升平台用户且本协议已签署生效；</span>
        <br/>4）卖家已按照《百业衍升店铺信息表》或相关补充协议（若有）足额缴纳特定店铺相应服务期的平台使用费。
      </p>
      <h5>3.2</h5>
      <p>服务期自服务实际开通日起计算。</p>

      <h5>3.3</h5>
      <p>如卖家签署本协议后 3 日内仍为满足本条第一款规定的所有开通条件，或“百业衍升”因任何原因向卖家发出拒绝提供服务的通知，则“百业衍升”有权不予开通服务，本协议不生效。</p>
      <h5>3.4</h5>
      <p>“百业衍升”为卖家开通服务后，卖家可利用百业衍升平台用户名及自设密码登陆卖家后台，根据百业衍升平台相关规则及流程向卖家特定店铺上传、发布商品/服务信息，与用户交流达成交易，使用本协议约定的其他有偿服务等。</p>
      <h5>3.5</h5>
      <p>卖家店铺服务的停止</p>
  <h6>3.5.1</h6>
        <p>卖家需要停止店铺服务的，应至少提前30个工作日向“百业衍升”提出申请，经“百业衍升”审核同意后由“百业衍升”停止该店铺的服务功能；为弥补“百业衍升”已投入的人力、物力和技术支持，卖家同意“百业衍升”不退还该店铺未到期部分对应的平台使用费；
        <p/>
<h6>3.5.2</h6>
       <p> 出现以下任一情形时，“百业衍升”有权随时停止卖家相关店铺的服务：
        <br/> 1）卖家不满足入驻条件的；
        <br/> 2）卖家提供虚假资质文件的；
        <br/> 3）卖家未完成承诺销售额（若有）的；
        <br/> 4）卖家产品价格、规格等信息标示错误，导致行政处罚、争议和纠纷的；
        <br/> 5）卖家产品质量、标识不合格的，或者产品涉嫌走私、假冒伪劣、旧货、返修品的；
        <br/> 6）未经“百业衍升”事先审核产品品牌，而上传某品牌商品的；
        <br/> 7）卖家连续10（十）日或累计30（三十）日未正常经营店铺的；
        <br/> 8）其他违反本协议约定或百业衍升平台规则的，或者其他“百业衍升”认为侵犯自身或消费者权益的。
      </p>
      <h5>3.6</h5>
      <p>卖家未经“百业衍升”同意，擅自停止店铺经营，或者卖家因为出现3.5.2情形被“百业衍升”停止店铺服务的，卖家已缴纳的相关店铺的平台使用费未到期部分，作为卖家向“百业衍升”支付的违约金，该金额不足以冲抵卖家应付违约金和赔偿金时，卖家应另行支付差额。</p>

      <h4>四、责任限制 </h4>
      <h5>4.1</h5>
      <p>不论在何种情况下，“百业衍升”均不对由于电力、网络、电脑、通讯或其他系统的故障、罢工（含内部罢工或劳工骚乱）、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为等不可抗力，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
      <h5>4.2</h5>
      <p>本协议项下服务将按“现状”和按“可得到”的状态提供，“百业衍升”在此明确声明对服务不作任何明示或暗示的保证，包括但不限对服务的可适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。“百业衍升”对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不做承诺和保证。</p>
      <h5>4.3</h5>
      <p>使用服务的过程中下载或者获取任何资料的行为均出于卖家的独立判断，并由其自行承担因此而可能产生的风险和责任。每一个卖家独自承担因此对其电脑系统或资料灭失造成的损失。</p>
      <h5>4.4</h5>
      <p>
        法律地位声明：“百业衍升”为向卖家及“百业衍升”其他用户进行网上交易活动提供交易平台的平台服务提供商，并非卖家与通过“百业衍升平台”购买卖家商品的“百业衍升”其他用户之间交易行为的参与方，“百业衍升”不对卖家及参与交易的“百业衍升”其他用户的任何口头、书面陈述承诺，发布的信息及交易行为的真实性、合法性、准确性、及时性、有效性等作任何明示或暗示的保证，亦不承担任何法律责任。若因卖家与参与交易的“百业衍升”其他用户之间的交易行为引起的任何法律纠纷，包括但不限于投诉、起诉、举报及税赋等，均由参与交易的双方解决，与“百业衍升”及/或“百业衍升平台”无关。但，卖家怠于履行义务时，“百业衍升”有权介入卖家与“百业衍升”其他用户间的争议，依据一般人的认知程度对争议进行判断和处置，卖家应当予以执行。
      </p>
      <h5>4.5</h5>
      <p>不可抗力处理：如本协议履行期间，甲乙双方任何一方遭受不可抗力，均应在遭受不可抗力后尽快通知对方，并于通知之日起15日内提供相关证明文件，不可抗力持续达到三十日的，任一方有权经通知对方提前终止本协议。 因不可抗力原因而导致本协议中止、终止的，双方均不须向对方承担违约责任。
      </p>
      <!--  -->
      <h4>5.1定义</h4>

      <h6> 5.1.1</h6>
      <p>
        <span style="color: #333;">消费者权益保障服务：</span>
        指卖家根据本协议约定的条款和条件及“百业衍升平台”公示的相关规则，利用“百业衍升平台”发布商品/服务信息、出售商品时，应履行的各项保护消费着权益的义务，包括但不限于“商品如实陈述”、“7天无理由退换平台”、“三包”“正品保证”等服务。“百业衍升”将根据国家法律法规及政策的相关要求及行业惯例等，在“百业衍升平台”公示新增的消费者权益保障服务内容或对原消费者权益保障服务内容等进行修订。如您对新增或修订的消费者保障义务持有异议，您应当终止本协议，如继续使用“百业衍升”服务，则意味这接受新增或修订的内容。
      </p>
      <h6> 5.1.2</h6>
      <p>
        <span style="color: #333;">保证金：</span> 指卖家根据本服务条款、服务协议及“百业衍升平台”相关规则，向“百业衍升”缴纳的，在卖家未履行消费者权益保障义务、违反服务协议或者“百业衍升平台”相关规则或流程时，用于对买家（指通过“百业衍升平台”购买商家商品/服务的“百业衍升”其他用户，以下均称“买家”）进行赔付或对“百业衍升”和/或买家支付违约金的资金。
      </p>
      <h6>5.1.3</h6>
      <p>
        <span style="color: #333;">先行赔付：</span> 指卖家与“百业衍升”交易中的买家进行交易后，如因卖家未履行消费者保障承诺义务而导致买家权益受损的情况下，投诉卖家有侵犯消费者权益或其他违反买家承诺的行为时，“百业衍升”有权根据服务协议、本服务条款和“百业衍升平台”公示的各项规则及买家提交的相关证据材料，以普通人或非专业人员的知识水平标准判断商家是否应当承担赔付义务，若是，则“百业衍升”有权直接从商家缴纳的保证金中扣除相应的款项赔付给买家。
      </p>
      <h6> 5.1.4</h6>
      <p>
        <span style="color: #333;">自主售后： </span>指卖家利用“百业衍升平台”提供的售后服务系统，在买家提出售后服务要求时，根据“三包”规定、百业衍升平台相关规则及自身售后服务承诺向买家履行商品维修、退换货等售后服务义务，“百业衍升”有权对商家的自主售后服务进行监督和检查，并有权按照服务协议、本服务条款及百业衍升平台相关规则对卖家的违规行为追究违约责任。
      </p>
      <h4>5.2保证金</h4>
      <p> 卖家同意向“百业衍升”缴纳一定金额的保证金，作为履行服务协议，消费者权益保障义务及遵守“百业衍升平台”各项规则保证，同意在卖家违反上述服务协议、义务或“百业衍升平台”规则时，“百业衍升”有权根据相关约定扣除相应金额的保证金作为违约金或给予买家的赔偿。
        </p><h6>5.2.1保证金额度</h6>
       <p> 1）卖家应根据“百业衍升”相关规则及自身申请经营的商品类目情况，在服务协议《甲乙双方信息确认表》或其他协议中确认须缴纳的保证金额度，并按照约定的时间及方式支付至“百业衍升”指定账户。
        <br/> 2）卖家同意缴纳的保证金在任何情况下，均不计算任何利息。同时，“百业衍升”有权根据卖家经营类目的变化、商品实际销售情况、履约能力、资信状况等实际变化通知卖家调整保证金额度，卖家应在“百业衍升”通知后按时补足相应金额的保证金，否则，“百业衍升”有权立即中止或终止本服务协议。
        </p><h6> 5.2.2保证金的管理和使用</h6>
<p>1）在下述情形下，“百业衍升”有权根据具体情况直接扣除部分或全部保证金，“百业衍升”扣除相应的保证金后，将通知卖家补足，卖家应在接到“百业衍升”通知按时按“百业衍升”要求补足相应保证金。卖家未按要求补足相应保证金或保证金不足以抵扣的，卖家同意“百业衍升”从未结算款项中直接扣除相应金额；
        <br/> 2）卖家之行为违反国家法律法规及其它规范性文件等规定的；
        <br/> 3）卖家在“百业衍升平台”发布商品/服务信息、达成交易、履行交易相关活动中，违反法律、法规、政策、“百业衍升平台”任何规则或违反其对客户的承诺，或被客户投诉、索赔时，“百业衍升”根据自身的判断对客户进行赔付的；
        <br/> 4）卖家违反服务协议、卖家与“百业衍升”或“百业衍升”关联公司的其他协议或“百业衍升平台”任何规则，给“百业衍升”或“百业衍升平台”造成任何损失（包括但不限于诉讼赔偿、诉讼费用、律师费用等）的；
        <br/> 5）服务协议及百业衍升平台管理规则中约定的其它可扣除保证金的情形出现的。
        </p>
        <h6>5.2.3</h6>
<p> “百业衍升”如使用保证金进行任何抵扣或赔付，将以书面方式（包括但不限于电子邮件、穿着等）通知卖家，并在书面通知中，说明抵扣和/或赔付原因及抵扣和/或赔付金额。
       </p> <h6> 5.2.4</h6>
<p>若卖家保证金不足时，“百业衍升”没有使用自有资金为卖家支付赔偿金、补偿金、抚恤金或其他任何款项的义务，但若“百业衍升”进行了该等支付，则“百业衍升”有权要求卖家赔偿，包括但不限于：</br>1）要求卖家赔付“百业衍升”损失，且在规定期限内补足保证金；
        <br/> 2）从卖家的销售款项中直接划扣，以补偿“百业衍升”所遭受的损失；如“百业衍升”的损失通过上述方式仍无法弥补，则“百业衍升”有权单方终止向卖家提供的一切服务，且有权继续向卖家追偿。 
</p>
<h6> 5.2.5保障金的退还</h6>
<p> 服务协议终止且所有卖家已完成交易的商品质保期届满后，卖家可向“百业衍升”提出退还保证金的书面申请，“百业衍升”审核通过后三个月内，扣除依据协议应扣除的部分后，将保证金余额退还卖家，如卖家支付的保证金，不足以抵扣应由卖家支付违约金、赔偿金等款项的，“百业衍升”将不予退还商家保证金，并保留向卖家追偿的权利。
      </p>
      <h4>5.3消费者权益保障的内容</h4>
<h6>5.3.1</h6>
<p>卖家承诺按照服务协议、本服务条款及“百业衍升平台”相关规则履行保障消费者权益的义务，切实保障消费者的合法权益。</p>
<h6> 5.3.2</h6>
<p>卖家保证履行“如实陈述”义务。“如实陈述”指卖家应对上传并发布于“百业衍升平台”的商品信息如实陈述，并对其发布的信息独立承担全部法律责任，并承担相应的举证责任。有效的“如实陈述”义务包括如下内容：
      </br>1）卖家保证其有合法的权利发布商品/服务信息并销售商品，且其发布商品/服务信息和销售商品不侵犯任何第三方的合法权利，不违反国家相关规定。
      <br/>2）卖家保证发布的商品信息与实际销售的商品一致，其对规格、材质、数量、颜色、外观、功能、质量状况等的描述与商品实际情况一致，其对价格的陈述符合价格法规及百业衍升平台相关规则要求；
      <br/>3）卖家保证发布商品/服务信息所用的图片均是来自商品本身的实拍图片，展示商品外观、形状、颜色等外观性能的图片不含有夸大或虚假的内容。文字介绍及其他素材等均为自身设计或合法取得，对图片、文字及其他素材等的使用不侵犯任何第三方的合法权利；
      <br/>4）卖家保证按照“百业衍升平台”规则的要求填写及上传商品的相关信息，且保证这些信息可完整被买家通过商品详情页直接查看，而无需通过链接或跳转等方式脱离百业衍升平台查看；
      <br/> 5）卖家在交易过程中与买家进行沟通时，对商品本身信息、配送费、发货情况、赠品等向买家描述的内容也属于“如实陈述”的范围，卖家应保证上述描述与实际情况相符；如买家投诉卖家违反如实陈述义务的，卖家应向“百业衍升”提交履行如实陈述义务的证据，如卖家不能提供相应证据或买家提交证据足以证明卖家违反了如实陈述义务的，“百业衍升”有权以普通人身份对相关证据材料做出判断并要求卖家承担相应责任。
</p>
<h6>5.3.3</h6>
<p>卖家保证履行“7天无理由退换货”义务。“7天无理由退换货”指买家通过“百业衍升平台”购买卖家的商品后，在签收货物7天内，商品无质量问题且未使用不影响二次销售的，卖家承诺为买家退换货。“7天无理由退换货”义务包括如下内容：
      卖家在“百业衍升平台”销售的商品，除“百业衍升平台”明显不适用无理由退货的产品或情形外，其余商品均应履行“7天无理由退换货”义务； 买家向“百业衍升平台”提出7天无理由退换货的申请后，“百业衍升平台”会将相应的申请提交卖家，卖家按照百业衍升平台规则规定的时间和方式提供“7天无理由退换货”服务；
      卖家判断是否影响二次销售及是否适用“7天无理由退换货”应以“百业衍升平台”公示的《退换货政策规定》及其他相关规则为依据，若买家申请退换货，卖家予以驳回，不履行“7天无理由退换货”义务，而买家向“百业衍升”发起投诉时，“百业衍升”有权以普通人身份对买家提供的证明材料进行审核并作出判断，卖家应自愿遵守“百业衍升”做出的决定，并履行相应的义务。
</p>
<h6>5.3.4</h6>
<p>卖家保证履行“正品保证”义务。正品保证指卖家保证在“百业衍升平台”销售的商品均经过合法授权，拥有合法的来源渠道，商品质量合格，且在买家购买商品时向买家开具合法发票。如买家投诉卖家未履行“正品保证”义务的，卖家应积极与买家沟通解决，如卖家未能与买家达成一致，妥善解决买家投诉的，“百业衍升”有权以普通人身份根据卖家及买家提供的相关证明材料及百业衍升平台相关规则作出判断及处理决定，卖家同意按照“百业衍升”的要求履行相应的义务。
</p>
<h6>5.3.5</h6>
<p>卖家保证“遵守承诺”。遵守承诺指卖家应当严格遵守其通过各种方式直接或间接向买家作出的承诺，包括但不限于本服务、百业衍升相关规则、服务协议及网络店铺、商品详情页面等方式作出的承诺。若卖家违反其做出的承诺导致买家投诉的，卖家应负责解决，若卖家未能妥善解决的，“百业衍升”有权以普通人身份判断相关证据材料并做出决定，卖家应对“百业衍升”做出的决定予以履行并承担相应的责任。
      </p>
      <h4>5.4条款的变更及修改</h4>
<h6>5.4.1</h6>
<p>“百业衍升”有权根据国家相关消费者权益保护法制法规、其他规范性文件及政策的调整和变化，以及提升客户体验、提高卖家商品销售及市场影响力等需求，不时制定、修改本服务条款及或与消费权益保障相关的规则，并以“百业衍升平台”公告的形式向卖家公示，不再向卖家另行通知。
</p>
<h6>5.4.2</h6>
<p>变更后的服务条款或相关规则，一经在“百业衍升平台”公示，即发生法律效力。如商家对服务条款或相关规则有异议的，应当立即停止使用“百业衍升”提供的服务，如卖家继续使用“百业衍升”提供的服务，包括但不限继续向“百业衍升平台”上传商品信息，接受订单或对所发布信息进行更新等活动，均视为卖家同意接受变更后的服务条款或规则。
        </p><h5>5.5责任限制</h5>
<h6>5.5.1</h6>
<p>卖家为消费者权益保障服务的责任主体，无论任何情况，“百业衍升”都不应成为承担消费者权益保障或销售者责任的主体，若因特别情况，导致“百业衍升”承担了此类责任，卖家应竭力使“百业衍升”免责并承担“百业衍升”因此遭受的所有损失。
</p>
<h6>5.5.2</h6>
<p>卖家同意“百业衍升”并非司法机关，亦非专业的纠纷解决机构，“百业衍升”对于卖家及买家之间纠纷的处理完全是基于相关规则的规定、协议的约定及买卖双方的意愿，“百业衍升”仅能以普通非专业人士的知识水平和能力对买家和卖家提交的相关证据材料进行鉴别和认定，“百业衍升”对据此作出的交易纠纷处理结果及保证金赔付决定等无法保证完全正确，且不对此承担任何责任。卖家应对其提交的证明材料的真实性、合法性独立承担完全的法律责任，若“百业衍升”根据卖家提供的证明材料做出决定或处理结果被有关国家机构否定的，卖家应独立向买家追索损失。
        </p>
        <h5>5.6其他</h5>
<h6>5.6.1</h6>
<p> 如卖家违反服务协议，本服务条款或“百业衍升平台”相关规则而“百业衍升”放弃向卖家主张权利的，不视为“百业衍升”放弃了卖家以后发生的同样或类似违约行为时“百业衍升”向其主张权利的权利，即某一次未行使权利仅可被认为是针对该次卖家违约行为放弃权利，而不是放弃该权利本身。
</p>
<h6>5.6.2</h6>
<p>卖家已仔细阅读本服务条款的所有内容，对本服务条款相关内容均已理解并同意接受，同时卖家同意在百业衍升服务协议签字页签字确认即视为对服务条款所有内容的认可，只要服务协议生效，则卖家即受本服务条款相关内容所约束。
      </p>
      <!--  -->
      <h4>六、保密条款</h4>
      <p>本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方书面同意，均不得将该商业秘密信息向任何第三方披露、传播、编辑或展示等。甲乙双方对于本协议的签订、内容及在履行本协议期间所获知的另一方的商业秘密负有保密义务。非经对方书面同意，任何一方不得向第三方（关联公司除外）泄露、给予或转让该等保密信息。
        如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件等，在本协议终止后按对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。 在本协议终止之后，各方在本条款项下的义务并不随之终止，各方仍需遵守本协议之保密条款，履行其所承诺的保密义务，直到其他方书面同意其解除此项义务，或事实上不会因违反本协议的保密条款而给其他方造成任何形式的损害时为止。
        任何一方均应告知并督促其因履行本协议之目的而必须获知本协议内容及因合作而获知对方商业秘密的雇员、代理人、顾问等遵守保密条款，并对其雇员、代理人、顾问等的行为承担责任。 因对方书面同意及国家行政、司法强制行为而披露商业秘密的，披露放不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。
      </p>
      <h4>七、反不正当谋利</h4>
      <p>卖家不得通过不正当手段（包括但不限于向“百业衍升”工作人员及/或及其相关联公司及人员提供财务、消费、款待或商业机会等）谋取利益。如有违反，无论卖家是否实际获得利益，“百业衍升”均有权根据百业衍升平台规则立即终止向卖家名下部分或所有百业衍升平台店铺提供服务，同时“百业衍升”有权划扣卖家保证金作为违约金，具体处罚措施以百业衍升平台规则为准。
      </p>
      <!-- <p class="text-right" style="margin-top:20px;">江西省趣盟科技有限公司</p>
      <p class="text-right">二O一八年一月一日</p> -->
    </div>
  </div>
</div>
