<div class="agree">
  <navHead title="百业衍升服务协议"></navHead>
  <div class="conten">
    <div class="article">
      <h1 class="text-center" style="padding:4px 0 2px;">百业衍升服务协议</h1>
      <h1 class="text-center" style="margin-bottom:20px;padding:4px 0;"> 线上版</h1>
      <p>本协议由同意并承诺遵守本协议规定使用“百业衍升”及“百业衍升平台”服务的法律实体（下称“卖家”或“乙方”）与南昌众业衍升实业有限公司（下称“甲方”）双方在自愿、平等、公平及诚实信用原则的基础上，根据《中华人民共和国合同法》等相关法律、法规的规定，经友好协商共同缔结。
        <br/>本协议各条的标题仅为方便阅读而设，无意成为本协议的一部分，也不影响本协议的含义或解释。
      </p>
      <!-- <span style="color: #333;"> -->
      <h4>第一条 相关定义及解释</h4>
      <h5>1.1</h5>
      <p>
        <span style="color: #333;">百业衍升：</span>南昌众业衍升实业有限公司及旗下子公司、分公司、分支机构或相关关联公司统称为“百业衍升”，本协议中提及的应由甲方或“百业衍升”行使的权利和履行的义务，有“百业衍升”内部负责相应区域及业务范围的公司分别履行。本协议由南昌众业衍升实业有限公司与乙方签署。
      </p>
      <h5>1.2</h5>
      <p>
        <span style="color: #333;">“baiyesy.cn”网站：</span>指由“百业衍升”提供技术支持和服务的域名为“baiyesy.cn”的网站。</p>
      <h5>1.3</h5>
      <p>“百业衍升平台”指南昌众业衍升实业有限公司运营和管理的网络交易平台，是“baiyesy.cn”网站上为用户提供信息发布、交流，达成交易意向及向用户提供其他与交易有关的辅助信息服务的电子商务交易服务平台。
      </p>
      <h5>1.4</h5>
      <p>
        <span style="color: #333;">百业衍升平台：</span>指在百业衍升平台已经发布或将来可能发布的各种规范性文件的，包括但不限于卖家手册、卖家后台公告及其他细则、规范、政策、通知等规范性文件。
      </p>
      <h5>1.5</h5>
      <p>“baiyesy.cn”网站用户：指所有在“baiyesy.cn”网站上注册成为“baiyesy.cn”注册会员的法人、自然人及其他组织，本协议中统称为“用户”，除非另有说明，否则“用户”均指此含义。
      </p>
      <h5>1.6</h5>
      <p>
        <span style="color: #333;">买家：</span>指在百业衍升平台上购买商品/服务的用户。</p>
      <h5>1.7</h5>
      <p>
        <span style="color: #333;">卖家：</span>指通过百业衍升平台上发布商品/服务信息，向用户提供商品/服务的自然人、法人和其他组织。本方卖家亦称为“商家”。</p>
      <h5>1.8</h5>
      <p>
        <span style="color: #333;">商品：</span>包括商品和服务。
      </p>
      <h5> 1.9</h5>
      <p>
        <span style="color: #333;">卖家注册及入驻：</span>卖家必须是符合《百业衍升平台招商标准》规定的法律实体，依据“百业衍升平台”入驻流程和要求完成在线提交，经“百业衍升”审核同意后，卖家可以使用其自行设定的百业衍升平台用户名和密码登陆“百业衍升平台”，以开立店铺开展经营。卖家如无经营资格或违反本协议第五条之声明与保证之规定不当注册为百业衍升卖家或超越其民事权利或行为能力范围从事交易的，其与百业衍升之间的协议自始无效，一经发现，百业衍升立即注销该卖家百业衍升平台服务账户，并追究其百业衍升平台服务的一切法律责任。
        卖家入驻，亦称“店铺入驻”指第三方经营者完成卖家注册流程，通过资质审核且满足本协议第八条店铺服务开通条件后成为“百业衍升平台”第三方经营者的过程；本协议中的卖家指本协议缔约方中的“乙方”。
      </p>
      <h5>1.10</h5>
      <p>
        <span style="color: #333;">百业衍升平台服务账户：</span>亦称“百业衍升用户名”，是指卖家完成卖家注册流程后获取的与自设账户密码共同使用的用户名。卖家应妥善保管其百业衍升用户名及密码信息，不得以任何形式擅自转让或授权他人使用。
      </p>
      <h5>1.11</h5>
      <p>
        <span style="color: #333;">店铺：</span>卖家在完成卖家注册及卖家入驻流程后，为进行合法经营，依据协议约定和百业衍升平台规则由乙方申请，“百业衍升”审核通过的具有独立且唯一性ID（英文IDentity的缩写，意为“身份识别号码”）、特定名称（可依据相关平台规则进行调整）的网络化虚拟商铺，乙方可依据经营需要，开设一个或多个店铺。乙方通过百业衍升平台用户名可以实现对该店铺的管理，包括但不仅限于商品/服务信息上传、修改、删除处理，交易跟踪、取消等。
      </p>
      <h5>1.12</h5>
      <p>
        <span style="color: #333;">保证金：</span>卖家向“百业衍升”缴纳的用以保证本协议履行及对商品和服务质量进行担保的金额，“百业衍升”可以依照本协议的相关约定对其进行处置。
      </p>
      <h5>1.13</h5>
      <p>
        <span style="color: #333;">平台使用费：</span>卖家使用“百业衍升平台”各项服务时按照本协议约定缴纳的固定技术服务费用。
      </p>
      <h5>1.14</h5>
      <p>
        <span style="color: #333;">技术服务费：</span>卖家根据商品经营类目在达成每一单交易时按比例向“百业衍升”缴纳的技术服务费。
      </p>
      <h4>第二条 协议内容及生效和变更 </h4>
      <h5>2.1</h5>
      <p>本协议内容包括协议正文及所有“百业衍升”及“百业衍升平台”已经发布的或将来可能发布的规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
      <h5>2.2</h5>
      <p> 卖家在使用百业衍升平台提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。“百业衍升”有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，“百业衍升”将最新版本的协议条款在百业衍升网站平台上以公示形式通知予卖家。如卖家不接受修改后的协议，必须立即以书面通知的方式终止本协议。任何修订和新规则一经公布即自动生效，成为本协议的一部分。登陆或继续使用服务将表示卖家接受修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
      </p>
      <h5>2.3</h5>
      <p>卖家签署或在线接受本协议并不导致本协议立即生效，经过“百业衍升”审核通过并向卖家发出服务开通通知时，本协议即在卖家和“百业衍升”之间产生法律效力。
      </p>
      <h4>第三条 服务内容及乙方店铺经营方式</h4>
      <h5>3.1</h5>
      <p>甲方依照本协议第九条约定为乙方开通店铺服务后，乙方可使用“百业衍升平台”发布商品/服务信息，与愿意购买乙方商品/服务的甲方其他用户进行在线交流，订立买卖合同，并向通过“百业衍升平台”购买商品/服务的用户提供售后服务，同时可参与“百业衍升平台”相关活动及使用“百业衍升平台”同意提供的其他有偿服务。
      </p>
      <h5>3.2</h5>
      <p>除上述服务内容外，乙方可使用本协议附件列明的其他甲方提供的有偿服务，具体服务内容以本协议附件约定或双方另行签署（含乙方同意相关有偿服务的电子协议等以数据电文形式签署）的文件约定为准。
      </p>
      <h5> 3.3</h5>
      <p>
        <span style="color: #333;">乙方店铺经营方式：</span>乙方店铺内商品/服务，均以乙方自身名义进行商品/服务信息上传、展示、咨询答复、商品销售、发票开具、物流配送服务及售后服务提供等；乙方销售及服务出现争议、纠纷、国家机关机构调查时，由乙方以销售者身份处理。“百业衍升”不参与乙方店铺经营，除依据本协议相关约定外，也不直接介入乙方与其他人间的争议和纠纷。
      </p>
      <h4>第四条 乙方申请入驻条件</h4>
      <p>乙方申请成为“百业衍升平台”入驻卖家，在“百业衍升平台”开展经营活动，须满足以下条件：
        <br/> 1）乙方以依照中华人民共和国法律注册并领取合法有效的营业执照及其他经营许可；
        <br/>2）乙方申请经营的商品来源合法，资质齐全；
        <br/>3）乙方同意本协议及百业衍升平台相关规则。
      </p>
      <h4>第五条 双方权利及义务</h4>
      <h5>5.1</h5>
      <p>甲方根据本协议向乙方提供电子商务及相应技术支持服务，尽力维护“百业衍升平台”的正常稳定运行，并努力提升和改进技术，对平台功能及服务进行更新、升级，不断提升平台性能和交易效率，使卖家网上交易活动得以顺利进行；</p>
      <h5> 5.2</h5>
      <p>乙方同意甲方根据乙方营业执照的经营范围以及乙方申请经营的商品经营类目，核实及调整乙方在“百业衍升平台”经营的具体商品的种类、数量和类目范围。
      </p>
      <h5>5.3
      </h5>
      <p>甲方对乙方在使用“百业衍升平台”过程中所遇到的与交易或注册有关的问题及提出的建议和意见的有关情况应当应当积极作出回复。
      </p>
      <h5>5.4
      </h5>
      <p> 乙方同意并自愿遵守甲方根据国家相关法律法规、政策及平台运营情况，对在“百业衍升平台”上公示的规则、流程、收费标准等进行更新、调整。
      </p>
      <h5>5.5
      </h5>
      <p>乙方同意甲方提供的相关资质文件及各类信息资料进行审核。甲方审核为形式审核，审核通过并不代表甲方对审核内容的真实性、合法性、准确性、及时性的确认，乙方仍须对其提交的资料的真实性、合法性、准确性、及时性等承担相应的法律责任。
      </p>
      <h5>5.6
      </h5>
      <p> 甲方有权对乙方的注册信息、上传的相关数据信息、在“百业衍升平台”发布的其他信息及交易行为进行监督检查，对发现的违法违规信息及其相关内容，乙方同意甲方不经通知立即删除，对发现的其他问题或疑问有权向乙方发出询问及要求改正的通知，乙方应在接到通知后立即作出说明或改正。对乙方前述不当行为，甲方有权追究其违约、侵权责任并/或解除本协议。
      </p>
      <h5>5.7
      </h5>
      <p>甲方有权将经国家生效法律文书或行政文书确定的乙方违法违规事件，或甲方有足够实施依据可以认定卖家存在违法或违反协议行为的事项，在“百业衍升平台”上予以公示；乙方多次违规或者有严重违约、违规情形的，甲方有权对其采取暂停店铺运营、扣除保证金直至终止本协议等措施，上述措施不足以补偿甲方损失的，甲方有权继续向乙方追偿。
      </p>
      <h5>5.8
      </h5>
      <p>如乙方的运营情况不能满足“百业衍升”要求，经限期整改调整后，仍无法满足百业衍升平台运营条件的，甲方有权解除本协议，停止向乙方提供服务。
      </p>
      <h5>5.9
      </h5>
      <p> 甲方有权根据市场情况及“百业衍升平台”入驻卖家经营情况组织相应的促销活动，乙方应根据自身实际情况积极予以支持。
      </p>
      <h5>5.10
      </h5>
      <p>甲方有权要求乙方提供乙方商品、售后服务等相关的信息，以便于客户直接向“百业衍升”客服中心进行咨询时予以回复，对于甲方无法回答或属乙方掌握的情况，甲方有权要秋乙方在指定的时限内予以回复，对于甲方无法回答或属乙方掌握的情况，甲方有权要求乙方在指定的时限内予以回复或给出相应方案，对乙方未及时解决客户咨询及投诉，甲方有权对乙方采取相应处理措施。
      </p>
      <h5>5.11
      </h5>
      <p>如因乙方商品/服务、发布的信息或提供的售后服务问题而引发客户对甲方及/或“百业衍升平台”的诉讼，甲方及/或“百业衍升平台”有权披露乙方为实际商品/服务提供商，乙方应承担因客户诉讼而产生的全部法律责任，如因此而给甲方及/或“百业衍升平台”造成损失的，甲方有权要求乙方赔偿甲方及“百业衍升平台”的全部损失。
      </p>
      <h5>
        5.12</h5>
      <p>乙方在此授予甲方免费的许可使用权利（并有权对该权利进行再授权），使甲方有权（全部或部分地）使用、复制、修订、改写、发布、翻译、分发、执行和展示乙方公示与其百业衍升平台上的网络店铺的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其他作品内；
      </p>
      <h5>
        5.13</h5>
      <p>乙方同意“百业衍升”根据业务调整情况将本协议项下的权利和义务部分或全部转移给甲方关联公司，但须提前7-10日通知乙方。
      </p>
      <h5>5.14</h5>
      <p>甲方有权利根据业务调整情况将本协议项下的权利和义务的全部或部分一并转移给其关联公司，此种情况将会提前3日以网站公告的形式通知卖家。卖家承诺对此不持有异议。
      </p>
      <h4>第六条 费用及结算规定</h4>
      <h5>6.1</h5>
      <p>乙方应按照本协议《百业衍升店铺信息表》、附件《甲乙双方信息确认表》或补充协议（若有）中确定的标准及支付方式向“百业衍升”支付下述费用：
      </p>
      <h6>6.1.1 平台使用费</h6>
      <p>1）乙方应按照附件或补充协议（若有）约定的费用标准和时间向“百业衍升”指定账户支付平台使用费，平台使用费按乙方店铺相应服务期期间缴纳；
        <br/>2）平台使用费按照乙方在“百业衍升平台”开设的店铺数量收取，即每天开通一个拥有独立店铺ID的店铺，则应在开通前按照附件或补充协议（若有）中确定的标准缴纳平台使用费；
        <br/>3）乙方店铺续展的，乙方应在服务期限届满前7-15日开始缴纳续展期间平台使用费。</p>
      <h6>6.1.2 技术服务费 </h6>
      <p>
        1）乙方通过“百业衍升平台”完成的每一单交易应按照附件或补充协议（若有）的约定向甲方支付技术服务费；
        <br/>2）乙方申请经营的商品类目及对应的技术服务费费率见《百业衍升店铺信息表》及相关补充协议（若有）；
        <br/>3）乙方在“百业衍升平台”的交易额以“百业衍升平台”记录的数据为准，乙方经营的商品类目以本协议或其他补充协议（若有）约定为准，乙方经营的商品品牌以甲方审核通过的为准；
        <br/> 4）技术服务费由“百业衍升平台”通过系统自买家交付的货款中实时扣划。
      </p>
      <h6>6.1.3</h6>
      <p>其他费用 本协议附件或甲乙双方补充协议（若有）约定的乙方应向“百业衍升”支付的其他费用，按照附件或补充协议（若有）的约定收取。
      </p>
      <h5>6.2</h5>
      <p>
        甲乙双方按照下述约定对乙方在“百业衍升平台”完成交易的金额进行结算：</p>
      <h6>6.2.1</h6>
      <p>买家通过“百业衍升平台”与乙方进行交易的，交易金额须支付至与“百业衍升平台”合作的甲方指定的第三方支付公司账户中或甲方指定账户中。
      </p>
      <h6>6.2.2</h6>
      <p>乙方按照《百业衍升店铺信息表》或其他补充协议（若有）中确认的结算期与甲方进行对账，“百业衍升平台”系统在每个结算日自动生产结算单，乙方确认无误后，甲方向指定付款机构发出付款指令，由付款机构将扣除技术服务费及其他费用后的款额支付给乙方；关于结算期及结算日约定如下：
        <br/>1）甲乙双方选择月结的，以每个自然月为结算期；
        <br/>2）甲乙双方选择半月结的，以每半个月为结算期；
        <br/>3）甲乙双方选择其他结算期的，以选择的天数为结算周期，每个结算期满的次日为结算日；以上结算日遇休息日或法定节假日的，顺延至休息日或法定节假日结束后的第一个工作日。
      </p>
      <h6>6.2.3</h6>
      <p>乙方须向甲方提供其在甲方指定的第三方支付公司开设的结算账户或银行账户以便甲方完成款额结算，若乙方账户信息变更，应提前7-10日通知甲方，否则，因乙方变更账户造成支付失败呢、延迟或错误，损失由乙方自行承担。
      </p>
      <h5>6.3</h5>
      <p>甲乙双方根据本协议开展的业务以人民币作为结算货币。</p>
      <h4>第七条 违约责任</h4>
      <h5>7.1</h5>
      <p>乙方提供虚假、失效的证明文件或其他相关证明给甲方，在“百业衍升平台”发布错误、虚假、违法及不良信息或进行其他违反本协议约定的行为，给甲方及/或“百业衍升平台”造成任何损失的（损失包括但不限于诉讼费、律师费、赔偿、补偿、行政机关处罚、差旅费等），乙方同意甲方自乙方缴纳的保证金及未结算货款中直接予以扣除，本协议另有约定的除外。乙方同意甲方不对任何卖家张贴、宣传的资料，包括诽谤性的、攻击性的或非法的资料承担任何责任；由于此类资料对其它用户造成的损失由该行为方自行承担全部责任。
      </p>
      <h5>7.2</h5>
      <p>乙方不论采取何种方式绕开甲方指定付款方式进行交易的，以及非法获取“百业衍升平台”系统数据、利用“百业衍升平台”谋取不正当利益或从事非法活动的，甲方有权立即终止本协议，并将其保证金作为违约金予以划扣，还可就违约行为向乙方追偿。
      </p>
      <h5>7.3</h5>
      <p>乙方发生违反本协议及“百业衍升平台”规则的情形时，甲方除有权按照本条约定要求乙方承担违约责任外，还有权按照“百业衍升平台”相关管理规则采取商品/服务立即下架、暂停向乙方提供服务、暂时关闭乙方后台管理账户、暂缓支付未结算款项、终止合作等措施。
      </p>
      <h4>第八条协 议有效期</h4>
      <h5>8.1</h5>
      <p>本协议在符合本协议第二条（三）款约定的条件时即告生效，持续对缔约双方有效。</p>
      <h5>8.2</h5>
      <p>本协议《百业衍升店铺信息表》或相关补充协议（若有）中约定的服务期届满前一个月，如乙方愿意在服务期届满后继续使用甲方提供的服务经营对应店铺的，应向甲方提出相应续展服务期的申请并按约定缴纳下一年度的平台使用费，且经甲方审核通过后，进入新的服务期，否则，服务期届满后甲方将停止向乙方提供相应店铺的服务。
      </p>
      <h4>第九条 协议的变更</h4>
      <h5>9.1</h5>
      <p>本协议附件《甲乙双方信息确认表》中约定的缔约双方基本信息变更的，变更方应于发生该等变更事项后30日内向另一方发出变更通知及证明文件，未及时通知另一方的，应对变更事项所造成的后果承担全部法律责任。
      </p>
      <h5>9.2</h5>
      <p>
        本协议《百业衍升店铺信息表》、附件《甲乙双方信息确认表》或相关补充协议（若有）中约定的费用，甲方有权根据平台运营情况、乙方经营情况及市场情况提前15日通知乙方进行变更，双方签署补充协议予以确认。若乙方不同意变更的，应于甲方发出变更通知后15日内向甲方发出终止协议的书面通知，终止协议自甲方收到乙方发出的书面终止通知之日起终止。
      </p>
          <h5>9.3</h5>
          <p>本协议其他条款变更或增加新的条款的，均须经缔约双方协商同意并签署书面补充协议，补充协议一经签署，即构成本协议的组成部分，与本协议具有同等法律效力。
          </p>
          <h4>第十条 协议的终止及解除</h4>
          <h5>10.1</h5>
          <p>
            <span style="color: #333;">本协议在下述情形下自然终止：</span>
<br/>1）本协议《百业衍升店铺信息表》或相关增开店铺补充协议（若有）中确认的服务期届满，而甲乙双方未在服务期满前1个月内完成新的服务期续展，且乙方所有店铺的服务期限均已届满的；
<br/>2）双方签署新协议替代本协议的；
            <br/>3）除本协议另有约定外，缔约双方中任一方在本协议有效期内提前终止本协议的，须提前15日以书面形式通知对方，经对方同意后双方签署书面补充协终止本协议。本协议签署后，为使用乙方顺利开展经营，甲方已提供人力、物力、技术支持和服务，如因前述原因导致本协议提前终止的，乙方同意甲方不退还已缴纳的平台使用费，未缴纳的，乙方同意足额缴纳。
          </p>
          <h5>10.2</h5>
          <p>
            <span style="color: #333;">乙方有下述情形时，甲方可单方解除本协议：</span>
            <br/> 1）乙方任一店铺未达成约定销售额（如有约定）的；
            <br/>2）乙方任一店铺未正常经营，在服务期内累计达到90（九十）日或者连续达到60（六十）日的；
<br/>3）乙方违反本协议约定或者百业衍升平台规则规定的相关义务，经甲方通知后拒不改正的；
<br/>4）本协议约定的其他甲方可单方解除本协议的。
          </p>
          <h5>10.3 协议终止后后续事项的处理</h5>
          <p>
            1）双方合作终止后，自终止合作之日起，甲方将关闭乙方“百业衍升平台用户名”账户权限，并对乙方商品全部下架，乙方将无法再通过该账户进行任何形式的操作且百业衍升平台前端网站不再显示任何乙方商品信息。
            <br/>2）无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，卖家必须完全且独立地承担；
            <br/>3）本协议终止后，甲方有权保留乙方的注册信息及交易行为记录等数据，但甲方没有为乙方保留这些数据的义务，亦不承担在协议终止后向乙方或第三方转发任何未阅读或未发送的信息的义务，也不就协议终止向乙方或任何第三方承担责任。法律另有规定的除外。
            <br/>4）自终止合作之日起三十日内，甲乙双方进行退场清算，包括但不限于财务对账及在途货物处理。在途货物指双方合作终止前，客户已购买但尚未交付的商品，对于此类商品，乙方仍应按照合作终止前的，客户已购买但尚未交付的商品，对于此类商品，乙方仍应按照合作终止前的流程交付并结算。
            <br/>5）双方合作终止，并不免除乙方依据本协议应向客户承担的售后服务及商品保证责任，乙方仍履行售后服务义务及产品质量保证责任；如在甲乙双方合作终止后，因乙方商品质量问题或售后服务问题而导致甲方或其他第三方人身或财产损失的，乙方仍应独立承担全部责任。
          </p>
          <h4>第十一条 通知及送达</h4>
          <h5>11.1</h5>
          <p>一方发给另一方的与本协议有关的通知应以书面形式送达，或以传真、电报、电传、电子邮件等发送。以传真、电报、电传或电子邮件发送的，发送当日为送达日，以邮资预付的挂号信件，特快专递寄送的，签收日为送达日。
          </p>
          <h5>11.2</h5>
          <p>甲方可通过电子邮件向乙方在签署合同或在线注册时提供的电子邮件地址发出通知。通知的送达以邮件发出为准。
          </p>
          <h4>第十二条 争议解决及其他</h4>
          <h5>12.1</h5>
          <p>12.1本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以甲方所住地法院无第一审管辖法院。本协议最终解释权归甲方所有。
          </p>
          <h5>12.2</h5>
          <p>如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部分则仍具有法律效力。
          </p>
          <h5>12.3</h5>
          <p>甲方于乙方过失或违约事时放弃本协议规定的权利的，不得视为其对乙方其他或以后同类之过失或违约行为弃权。
          </p>
          <h5>12.4</h5>
          <p>如乙方违反服务协议、“百业衍升平台”相关规则而甲方放弃乙方主张权利的，不视为甲方放弃了乙方以后发生的同样或类似违约行为时甲方向其主张权利的权利，即某一次未行使权力仅可被认为是针对该次卖家违约行为放弃权利，而不是放弃该权利本身。
          </p>
          <h4>第十三条 附件</h4>
          <h5> 13.1</h5>
          <p>
            <span style="color: #333;">附件一：</span>
            《入驻平台接受协议》</p>

          <!-- <p class="text-right" style="margin-top:20px;">江西省趣盟科技有限公司</p>
      <p class="text-right">二O一八年一月一日</p> -->
    </div>
  </div>
</div>
